.card{
  background-color: rgb(196, 85, 104);
  color: white;
  border-radius: 50px;
  margin: 20px;
  padding: 20px;
}

.nav {
  background-color: aqua;
  padding: 15px;
}

.nav h2 {
  margin: 5px;
  color: black;
}




