.parent {
  min-height: 100vh;
  width: 100%;
  background: hsl(0, 100%, 99%);
  padding: 30px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}


.card {
  height: 400px;
  width: 300px;
  background: #cac4c4;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

/* TOP */
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img {
  height: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}

.save-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 10px;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
}

/* CENTER */
.center {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.center h3 {
  color: #555;
  font-size: 16px;
}

.center h3 span {
  font-size: 10px;
  color: #777;
}

.center h2 {
  font-size: 20px;
}

.tag {
  display: flex;
  gap: 8px;
}

.tag h4 {
  background: #eee;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 12px;
}

/* BOTTOM */
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 12px;
}

.salary h3 {
  font-size: 17px;
}

.salary p {
  font-size: 12px;
  color: #555;
}

.apply-btn {
  background: black;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
